@model IEnumerable<JalgrattaeksamMVC.Models.Eksam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teooria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slaalom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ring)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tänav)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perenimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teooria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slaalom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tänav)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luba)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
